.currency-converter {
	max-width: 377px;	
	margin: auto;
	overflow: hidden;
	border: 2px solid #424242;
	background: #ffffff;
}
.currency-converter__innerblock {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	padding: 15px 15px;
}
.currency-converter__innerblock>div {
	width: 100%;
}